body {
  margin: 0;
  box-sizing: border-box;
  background: beige;
  
}

.header {
  width: 100%;
  height: 77px;
  background-color: #8F7B55;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  font-family: 'Playfair Display', Georgia;
  /* font-style: italic; */
  font-size: 37px;
  color: white;
}

/*hair image*/
.rightimg{
  position: absolute;
  width:25%;
  right: 50px;
  top: 155px;
}



.content {
  margin-left: 15px;
  display: flex;
  align-items: center;
  
}

.quiz-container {
 
  padding: 20px;
  top: -20px;
  left: 45px;
}

.hair-question {
  font-family: 'Playfair Display', Georgia ;
  font-weight: 800;
  font-size: 30px;
  color: #4e4241;
}

.option {
  display: block;
  margin: 13px 0;
  padding: 12px;
  background: transparent;
  color: #584B49;
  border: none;
  border: 1px gray solid;
  font-size: 19px;
  border-radius: 25px;
  cursor: pointer;
}

.option.correct {
  background: green;
  color: white;
}

.option.wrong {
  background: red;
  color: white;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  align-content: baseline;
  margin-top: 20px;
  width: 300px;
}

.btn {
  cursor: pointer;
  border: none;
  background: transparent;
}

.btn img {
  width: 35px;
  height: 35px;
}

.quiz-status {
  color: #584B49;
  font-size: 42px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.score-paragraph {
  color: #614f4d;
  font-size: 27px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* .footer {
  background-color: #8f7b558e;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  
}

.note {
  color: white;
  font-size: 16px;
  font-family: Arial;
} */


@media (max-width: 600px) {
  .rightimg  {
    display: none;
  }

  
}

@media (max-width: 768px) {
  .rightimg {
    position: absolute;
    top: 05px;
  }
}

@media (min-width: 751px) and (max-width: 999px) {
  .rightimg {
    position: absolute;
    top: 205px;
  }
}

@media (min-width: 1000px) {
  
}


