body {
  margin: 0;
  box-sizing: border-box;
  background: beige;
  height: 100vh;
}

.header {
  width: 100%;
  height: 77px;
  background-color: #8F7B55;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  font-family: 'Playfair Display', Georgia;
  font-style: italic;
  font-size: 37px;
  color: white;
}

/*hair image*/
.rightimg, .leftimg {
  width:230px;
  position: absolute;
  top: 75px;
}

.rightimg { 
  right: 50px;
}

.leftimg {
 left: 20px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.quiz-container {
  width: 130vh;
  padding: 20px;
  top: -20px;
  left: 45px;
}

.hair-question {
  font-family: 'Playfair Display';
  font-size: 30px;
}

.option {
  display: block;
  margin: 13px 0;
  padding: 12px;
  background: transparent;
  color: #584B49;
  border: none;
  border: 1px gray solid;
  font-size: 19px;
  border-radius: 25px;
  cursor: pointer;
}

.option.correct {
  background: green;
  color: white;
}

.option.wrong {
  background: red;
  color: white;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  align-content: baseline;
  margin-top: 20px;
  width: 300px;
}

.btn {
  cursor: pointer;
  border: none;
}

.btn img {
  width: 35px;
  height: 35px;
}

.quiz-status {
  color: #584B49;
  font-size: 42px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.score-paragraph {
  color: #614f4d;
  font-size: 27px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer {
  background-color: #8F7B55;
  color: white;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

